dist
/src/themes/*
!/src/themes/core
!/src/themes/champgauche
!/src/themes/siterapide
!/src/themes/account
!/src/themes/docs
/src/plugins/scg-ecommerce
/src/plugins/reactwp-consent
/src/core/wp-content/themes/*
!/src/core/wp-content/themes/core
!/src/core/wp-content/themes/champgauche
!/src/core/wp-content/themes/siterapide
!/src/core/wp-content/themes/account
!/src/core/wp-content/themes/docs
/src/core/wp-content/plugins/scg-ecommerce
/src/core/wp-content/plugins/reactwp-consent
node_modules
package-lock.json
wp-config.php
.htaccess
.npmrc