//@use '../inc/variables' as *;
//@use '../inc/functions' as *;
//@use '../inc/mixins' as *;

.docs{
	width: 100%;
	height: 100svh;
	padding-top: 65px;
	.container{
		display: flex;
		height: 100%;
		max-width: 1920px;
		.sidebar,
		.main-contents{
			height: 100%;
		}
		.sidebar{
			width: 320px;
			flex: 0 0 320px;
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			overflow: scroll;
		}
		.main-contents{
			display: flex;
			width: 100%;
			article{
				width: 100%;
				height: 100%;
				max-width: 800px;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				overflow: scroll;
			}
			aside{
				width: calc(100% - 800px);
			}
		}
	}
}