//@use '../inc/variables' as *;
@use '../inc/functions' as *;
//@use '../inc/mixins' as *;

.docs{
	width: 100%;
	height: 100svh;
	padding-top: 65px;
	.container{
		display: flex;
		height: 100%;
		max-width: 1920px;
		.sidebar,
		.main-contents{
			height: 100%;
		}
		.sidebar{
			width: 320px;
			flex: 0 0 320px;
			padding: 40px;
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			overflow: scroll;
			.inner{
				.item{
					.title{
						display: flex;
						column-gap: 16px;
						align-items: center;
						justify-content: flex-start;
						margin: 0 0 20px;
						.icon{
							background: var(--gray-n1-color);
							width: 20px;
							height: 20px;
							border-radius: 6px;
						}
						span{
							font-size: 16px;
							font-weight: 800;
							color: var(--gray-n1-color);
						}
					}
					ul{
						margin: 0 0 0 20px;
						li{
							a{
								font-size: 16px;
								color: var(--gray-n1-color);
								transition-property: color;
								transition-duration: .2s;
								&:hover{
									color: var(--gray-n2-color);
								}
							}
						}
					}
					& + .item{
						margin: 35px 0 0;
					}
				}
			}
		}
		.main-contents{
			display: flex;
			width: 100%;
			article{
				width: 100%;
				height: 100%;
				max-width: 800px;
				padding: 40px;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				overflow: scroll;
				nav{
					margin: 0 0 18px;
					ul{
						display: flex;
						align-items: center;
						li{
							a{
								font-size: 16px;
								color: var(--gray-n2-color);
								transition-property: color;
								transition-duration: .2s;
								&:hover{
									color: var(--white-color);
								}
							}
						}
					}
				}
				.contents{
					.inner-contents{
						h1,
						h2,
						h3,
						h4,
						h5,
						h6{
							color: var(--gray-n1-color);
						}
						h2,
						h3,
						h4,
						h5,
						h6{
							padding-bottom: 6px;
							border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						}
						h1{
							font-size: clamp(32px, vw(48px, 1366px), 48px);
						}
						h2{
							font-size: clamp(24px, vw(36px, 1366px), 36px);
						}
						h3{
							font-size: clamp(20px, vw(28px, 1366px), 28px);
						}
						h4{
							font-size: clamp(18px, vw(22px, 1366px), 22px);
						}
						h5,
						h6{
							font-size: clamp(16px, vw(18px, 1366px), 18px);
						}
						.uptitle,
						.subtitle{
							color: var(--gray-n2-color);
						}
						rwp-wrap{
							display: block;
							h2,
							h3,
							h4,
							h5,
							h6{
								&+p,
								&+ul,
								&+ol,
								&+code,
								&+.notice{
									margin-top: 25px;
								}

							}
							ul,
							ol{
								padding-left: 40px;
								li{
									line-height: 140%;
									color: var(--gray-n1-color);
									a{
										color: var(--gray-n1-color);
										transition-property: color;
										transition-duration: .2s;
										&:hover{
											color: var(--gray-n2-color);
										}
									}
									&+li{
										margin-top: 3px;
									}
								}
								&+ul,
								&+ol,
								&+code,
								&+.notice{
									margin-top: 25px;
								}
								&+h2,
								&+h3,
								&+h4,
								&+h5,
								&+h6{
									margin-top: 35px;
								}
							}
							ul{
								list-style: initial;
							}
							ol{
								list-style: auto;
							}
							p{
								line-height: 140%;
								color: var(--gray-n1-color);
								a{
									color: var(--gray-n1-color);
									transition-property: color;
									transition-duration: .2s;
									&:hover{
										color: var(--gray-n2-color);
									}
								}
								&+p,
								&+ul,
								&+ol,
								&+code,
								&+.notice{
									margin-top: 25px;
								}
								&+h2,
								&+h3,
								&+h4,
								&+h5,
								&+h6{
									margin-top: 35px;
								}
							}
							code{
								background: rgba(255, 255, 255, .1);
								display: block;
								width: 100%;
								padding: 20px;
								border-radius: 6px;
								white-space: pre;
								tab-size: 4;
								&+p,
								&+ul,
								&+ol,
								&+.notice{
									margin-top: 25px;
								}
								&+h2,
								&+h3,
								&+h4,
								&+h5,
								&+h6{
									margin-top: 35px;
								}
							}
							.notice{
								background: rgba(255, 255, 255, .1);
								border-radius: 6px;
								padding: 20px;
								&+p,
								&+ul,
								&+ol,
								&+.notice{
									margin-top: 25px;
								}
								&+h2,
								&+h3,
								&+h4,
								&+h5,
								&+h6{
									margin-top: 35px;
								}
							}
						}
					}
					&:nth-child(2){
						.inner-contents{
							rwp-wrap{
								margin: 20px 0 0;
								p{
									font-size: clamp(18px, vw(22px, 1366px), 22px);
								}
							}
							.buttons{
								margin: 25px 0 0;
							}
						}
					}
					&:nth-child(3){
						margin: 65px 0 0;
						.inner-contents{
							rwp-wrap{
								p{
									font-size: clamp(16px, vw(18px, 1366px), 18px);
								}
								ul,
								ol{
									li{
										font-size: clamp(16px, vw(18px, 1366px), 18px);
									}
								}
							}
						}
					}
				}
			}
			aside{
				width: calc(100% - 800px);
				height: 100%;
				padding: 40px;
				overflow: scroll;
				.inner{
					width: 100%;
					max-width: 320px;
					margin: 0 0 0 45px;
					.item{
						ul{
							li{
								a{
									font-size: 16px;
									color: var(--gray-n1-color);
									transition-property: color;
									transition-duration: .2s;
									&:hover{
										color: var(--gray-n2-color);
									}
								}
							}
						}
						& + .item{
							margin: 35px 0 0;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 1440px){
		.container{
			.main-contents{
				aside{
					.inner{
						margin: 0;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1366px){
		.container{
			.main-contents{
				article{
					max-width: 100%;
					border-right: none;
				}
				aside{
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 768px){
		.container{
			flex-wrap: wrap;
			.sidebar{
				width: 100%;
				height: 0px;
				flex: 0 0 100%;
				padding-top: 0;
				padding-bottom: 0;
				.inner{
					padding-top: 40px;
					padding-bottom: 40px;
				}
			}
			.main-contents{
				article{
					max-width: 100%;
					border-right: none;
					padding: 60px 30px 40px;
				}
				aside{
					display: none;
				}
			}
		}
	}
}