//@use '../inc/variables' as *;
//@use '../inc/functions' as *;
//@use '../inc/mixins' as *;

#docs_{
	&_intro{
		display: flex;
		height: 100vh;
		padding: 120px 20px 60px;
		align-items: center;
		justify-content: center;
		.container{
			.contents{
				margin: 0 auto;
				.inner-contents{
					h1{
						display: table;
						margin: 0 auto;
						font-size: 48px;
						text-align: center;
						color: var(--white-color);
					}
				}
			}
		}
		@media screen and (max-width: 1280px){
			.container{
				.contents{
					.inner-contents{
						h1{
							font-size: 36px;
						}
					}
				}
			}
		}
		@media screen and (max-width: 540px){
			.container{
				.contents{
					.inner-contents{
						h1{
							font-size: 28px;
						}
					}
				}
			}
		}
	}
}